@charset "utf-8";
/*
    Author: Patrick Windle
    Date: 2023-04-14
*/
/* Link to googlefont for lato 400 and lato bold 700 */ 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* General Styling */
* {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

span {
	color: black;
	text-align: center;
	line-height: 1.25;
}

h1 {
	font-size: 36px;
}

p {
	line-height: 1.5;
	font-size: 16px;
}

li {
	list-style-type: none;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.row {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.text--blue {
	color: #5680E9;
}

.container {
	padding: 50px 0;
}

/* Nav Bar */
nav {
	height: 100px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__link--list {
	display: flex;
}

/* Styling that applies to all nav items */
.nav__link--anchor {
	margin: 0 12px;
	color: black;
	text-decoration: none;
	font-weight: 700;
}

/* Styling that adds underline on hover to all nav items */
.nav__link--anchor:hover {
	text-decoration: underline;
}

/* Styling that applies only to contact nav item (purple circle) */
.nav__link--anchor-primary {
	background-color: #5680E9;
	padding: 8px 20px;
	border-radius: 50px;
	color: white;
}

/* Styling that applies only to contact nav item on hover (Transition to dif color) */
.nav__link--anchor-primary:hover {
	background-color: #5AB9EA;
}

/* Styling for logo top left */
.p__logo {
	font-size: 24px;
	color: #5680E9;
	margin: 0 12px;
	font-weight: bold;
}

/* Class (About Me) */
#about-me {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.about-me__info--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

/* Turns the pic into a circle */
.about-me__pic--mask {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 28px;
}

.about-me__pic {
	width: 100%;
}

.about-me__info--para {
	font-size: 20px;
	margin-bottom: 28px;
}

.about-me__info--title {
	margin-bottom: 5px;
}

/* Contact Page */

.about-me__wrapper {
	display: flex;
}

/* Circle and alignment */
.about-me__link {
	border: 3px solid black;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: 5px;
	text-decoration: none;
}

/* Icon in circle */
.about-me__link i {
	font-size: 25px;
	color: black;
}

/* Makes bounce effect activate on hover */
.about-me__link:hover {
	animation: bounce 0.4s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
	animation-direction: alternate;
}

/* Bounce Animation */
@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	/* How high it bounces */
	100% {
		transform: translateY(-25px);
	}
}

.about-me__info {
	display: flex;
	flex-direction: column;
}

.about-me__img--container {
	flex: 1;
	display: flex;
	align-items: center;
}

.about-me__img {
	width: 100%;
	height: 75%;
}

/* Skills Page */
.language__img {
	width: 100%;
	max-width: 100px;
	transition: all 300ms ease;
}

.language:hover .language__img {
	filter: brightness(80%);
	opacity: 0.86;
	transform: scale(0.9);
}

.language {
	width: 33.3333333%;
	display: flex;
	justify-content: center;
	position: relative;
}

.language__img--wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 16px;
}

.language__list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.language__name {
	position: absolute;
	bottom: 0;
	transform: scale(0);
	transition: all 300ms ease;
	font-size: 15px;
}

.language:hover .language__name {
	transform: scale(1);
}






